extends ../layout

block header_meta
	- var content_title= 'DD:A|D / about / team'
	//- - var content_description= __('')
	- var about = 'team'

block header_include
	- var include_css = ['about.css', 'team.css']
	- var include_js = ['team.js']

block content
	.members_block

		.members_title Founders
		.members_group
			each people in peoples.sort(function(a, b) { return a.type > b.type })
				if (people.status !== 'out' && ['coordinator'].includes(people.type))
					.member_item(class=people.status)
						.member_name= people.i18n.name.get(locale)
						.member_role= __(people.type)

		.members_title Team
		.members_group
			each people in peoples.sort(function(a, b) { return a.type > b.type })
				if (people.status !== 'out' && ['designer', 'architect', 'curator'].includes(people.type))
					.member_item(class=people.status)
						.member_name= people.i18n.name.get(locale)
						.member_role= __(people.type)

		.members_title History
		.members_group
			each people in peoples.sort(function(a, b) { return a.type > b.type })
				if (people.status == 'out' && ['designer', 'architect', 'curator', 'coordinator'].includes(people.type))
					.member_item(class=people.status)
						.member_name= people.i18n.name.get(locale)
						.member_role= __(people.type)