extends layout

block header_meta
	- var content_title= 'DD:A|D'
	//- - var content_description= __('')

block header_include
	- var include_css = ['main.css']
	- var include_js = ['main.js']

block outer
	.poster

block content
	.directions
		.d_item.manege
			a(href='#')= __('М')
			.title= __('Манеж')
		.d_item.hystoric_patriotic
			a(href='#')= __('ИД')
			.title= __('Историко-документальное')
		.d_item.sidur
			a(href='#')= __('С')
			.title= __('Сидур')
		.d_item.rik
			a(href='#')= __('РиК')
			.title= __('Рабочий и Колхозница')
		.d_item.moscow_biennale
			a(href='#')= __('МБ')
			.title= __('Московская Биеннале')

	.projects
		each work in works
			.p_item(class=work.case, data-id=work._id.toString(), data-poster=work.poster, class= work.status == 'special' ? 'special' : '')
				a(href= work.status == 'special' ? '#' : '/works/' + (work.sym ? work.sym : work._short_id))
					span.num= work.num
					span.title= work.i18n.title.get(locale)