extends layout

block header_meta
	- var content_title= 'DD:A|D' + ' / works / ' + work.i18n.title.get(locale)
	- var content_description = ''
	- var content_images = [work.poster]
	- var edit_work = work._id

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['work.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['work.js']

block content

	.column.left
		if work.poster
			img.work_poster(src=work.poster)

		if work.video && work.video.provider
			- var provider_path= work.video.provider == 'youtube' ? 'https://www.youtube.com/embed/' : 'https://player.vimeo.com/video/'
			.work_video: .video_inner: iframe.video(src=provider_path + work.video.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

		.work_images
			each image in images
				if image.length
					- var g_size = 'g_2x'
					if image.every(function(item) { return item.size == '2x' })
						- g_size = 'g_2x'
					else if image.every(function(item) { return item.size == '1x' })
						- g_size = 'g_1x'
					.image_gallery(class=g_size)
						.swiper-container
							.swiper-button-next.swiper-button-white
							.swiper-button-prev.swiper-button-white
							.swiper-wrapper
								each slide in image
									.swiper-slide
										img.slide_image(src=slide.thumb)
										- var description = slide.description.filter(function(lang) { return lang.lg == locale })
										if description.length && description[0].value != ''
											.slide_description= description[0].value

				else
					.image(class='size_' + image.size)
						- var description = image.description.filter(function(lang) { return lang.lg == locale })
						img(src=image.thumb)
						if description.length && description[0].value != ''
							.image_description= description[0].value

	.column.right
		.work_title
			span.num= work.num
			span.title= work.i18n.title.get(locale)

		.work_meta
			.meta_column
				if work.year
					.meta_item
						.item_title Year
						.item_value= work.year

				if work.i18n.program.get(locale) !== ''
					.meta_item
						.item_title Program
						.item_value= work.i18n.program.get(locale)

				if work.i18n.area.get(locale) !== ''
					.meta_item
						.item_title Аrea
						.item_value= work.i18n.area.get(locale)

				if work.i18n.build_status.get(locale) !== ''
					.meta_item
						.item_title Status
						.item_value= work.i18n.build_status.get(locale)

				if work.i18n.client.get(locale) !== ''
					.meta_item
						.item_title Client
						.item_value= work.i18n.client.get(locale)

				if work.geo.length
					.meta_item
						.item_title Locations
						.item_value
							each item in work.geo
								- var name = item.name.filter(function(lang) { return lang.lg == locale })
								.location_item= name.length ? name[0].value : ''

				if work.partners.length
					.meta_item
						.item_title Partners
						.item_value
							each partner in work.partners
								.partner_item: a(href=partner.link, target='_blank')= partner.i18n.title.get(locale)

			.meta_column
				if work.peoples.length
					.meta_item
						.item_title Team
						.item_value
							each people in work.peoples
								.people_name= people.i18n.name.get(locale)
								.people_type= __(people.type)


		.work_description!= work.i18n.description.get(locale)

	.column.right.preview