extends layout

block header_meta
	- var content_title= 'DD:A|D' + ' / ' + work.i18n.title.get(locale)
	- var content_description = ''
	- var content_images = [work.poster]

block header_include
	- var include_libs_css = ['swiper.min.css']
	- var include_css = ['work.css']
	- var include_libs_js = ['swiper.jquery.min.js']
	- var include_js = ['work.js']

block content

	.column.left
		.project_images
			each image in images
				.image(class='size_' + image.size)
					- var description = image.description.filter(function(lang) { return lang.lg == locale })
					img(src=image.thumb)
					.title= description.length ? description[0].value : ''

	.column.right
		.project_title
			span.num= work.num
			span.title= work.i18n.title.get(locale)

		.project_meta
			.meta_item
				.item_title Year
				.item_value= work.year
			.meta_item
				.item_title Program
				.item_value= work.i18n.program.get(locale)
			.meta_item
				.item_title Аrea
				.item_value= work.i18n.area.get(locale)
			.meta_item
				.item_title Status
				.item_value= work.i18n.build_status.get(locale)
			.meta_item
				.item_title Client
				.item_value= work.i18n.client.get(locale)
			.meta_item
				.item_title Location
				.item_value
					each item in work.geo
						- var name = item.name.filter(function(lang) { return lang.lg == locale })
						span= name.length ? name[0].value : ''
			.meta_item
				.item_title Partners
				.item_value
					each partner in work.partners
						a(href=partner.link, target='_blank')= partner.i18n.title.get(locale)
			.meta_item
				.item_title Team
				.item_value
					each people in work.peoples
						div= people.i18n.name.get(locale)


		.project_description= work.i18n.description.get(locale)